// IMPORTS

// @import url("https://fonts.googleapis.com/css?family=Dosis");
// @import url("https://fonts.googleapis.com/css?family=Roboto");

// COLOR VARIABLES
$primary-dark: #064b4b;
$primary-mid: #336e6d;
$primary: #7db8b7;
$primary-light: #a4d6d9;
$accent-dark: #d64550;
$accent-light: #ff9398;
$light-gray: #f0f0ef;
$mid-gray: #777777;
$dark-gray: #414141;
$mid-transparent: rgba(51, 110, 109, 0.75);
$dark-transparent: rgba(6, 75, 75, 0.75);

// FONT VARIABLES
$hairline-wt: 100;
$thin-wt: 200;
$light-wt: 300;
$normal-wt: 400;
$medium-wt: 500;
$semibold-wt: 600;
$bold-wt: 700;
$xbold-wt: 800;
$black-wt: 900;

// PHOTO VARIABLES

/*!
CSS BEGINS
 */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: $light-wt;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
  color: $dark-gray;
}

h5,
h6,
p {
  font-family: "Roboto", sans-serif;
  color: $dark-gray;
}

h1 {
  font-weight: $normal-wt;
  font-size: calc(2rem + 1.5vw);
}

h2 {
  font-weight: $normal-wt;
  font-size: calc(1.325rem + 0.9vw);
}

h2 a {
  font-weight: $normal-wt;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-weight: $normal-wt;
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-weight: $medium-wt;
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-weight: $medium-wt;
  font-size: 1.2rem;
}

h6 {
  font-weight: $medium-wt;
  font-size: 1rem;
}

p {
  margin-top: 0;
  font-weight: $hairline-wt;
  font-size: 1.1rem;
}

hr {
  border-top: 0.1rem solid $dark-gray;
  opacity: 100%;
  width: 4rem;
}

.hr-accent {
  border-top: 0.15rem solid white;
  opacity: 100%;
  width: 3rem;
}

a {
  color: inherit;
  font-weight: $hairline-wt;
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

footer > a {
  text-decoration: none;
}

a:hover {
  color: $accent-dark;
}

.text-white a:hover {
  color: $accent-light;
}

.text-gray a:hover {
  color: $accent-light;
}

.body-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*!
BEGIN NAVBAR SHIT
 */
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
}
#mainNav .navbar-brand {
  font-family: "Dosis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: $medium-wt;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:active {
  color: $accent-dark;
}
#mainNav .navbar-toggler {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  color: $dark-gray;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: $dark-gray;
  font-size: 0.875rem;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: $mid-gray;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: $accent-dark;
}
/*!
END NAVBAR SHIT
 */

.card {
  border: 0px;
}

.accent-div {
  background-color: $primary-mid;
}

.gray-bg {
  background-color: $dark-gray;
}

.white-bg {
  background-color: white;
}

.text-gray {
  color: $light-gray;
}

.primary-icon {
  color: $dark-gray;
}

.home-hero {
  display: flex;
  color: white;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  min-height: 75vh;
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.primary-button {
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  font-weight: $semibold-wt;
  font-size: 1.5rem;
  color: white;
  background-color: $accent-dark;
  border: 2px solid white;
  padding: 0.25rem 1.25rem;
}

button.primary-button:hover {
  color: $primary-mid;
  background-color: white;
}

.secondary-button {
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  font-weight: $semibold-wt;
  font-size: 1rem;
  color: white;
  background-color: $accent-dark;
  border: none;
  padding: 0.25rem 1.25rem;
  min-width: 100px;
  margin: 0.25rem;
}

.semitrans-box {
  background: $mid-transparent;
}

button.secondary-button:hover {
  color: $primary-mid;
  background-color: white;
}

pre,
code {
  background-color: $dark-gray;
  color: $light-gray;
  overflow: auto;
  border-radius: 5px;
  white-space: pre-wrap;
}

pre {
  padding: 1rem;
}

.ani-iframe {
  height: 25rem;
  width: 26rem;
  margin: 10px 0px;
  padding: 0px;
}

.navbar-toggler {
  border: none;
}

.current-page {
  color: $accent-dark;
  border-top: 2px $accent-dark solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 2px $accent-dark solid;
  border-right: 2px $accent-dark solid;
}

//sm
@media (min-width: 576px) {
}

//md
@media (min-width: 768px) {
  .vl {
    border-left: 1px solid $light-gray;
    height: 50px;
  }
}

//lg
@media (min-width: 992px) {
}

//xl
@media (min-width: 1200px) {
  .ani-iframe {
    height: 30rem;
    width: 33rem;
  }
}

//xxl
@media (min-width: 1400px) {
  .ani-iframe {
    height: 40rem;
    width: 36rem;
  }
}
